* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  margin-top: 5%;
  min-height: 80vh;
}

section {
  background-color: rgb(234, 234, 234);
  height: 30%;
}

.section2 {
  background-color: rgb(58, 59, 60);
}

.portfolio-wrapper {
  min-height: 80vh;
}

.promo-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url('../public/images/iphone13pro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url('../public/images/promo1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
}

.promo2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url('../public/images/promo2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
}

.promo3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url('../public/images/promo3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
}
